$primary-color: #333;
$body-background-color: #0a0b54;

$wrap-background-color: #fff;
$content-background-color: #fff;


$header-title-color: black;


$footer-background-color: #0d0c27;
$footer-text-color: #efefef;
$footer-link-color: #efefef;

/*
 * Typeahead Styles
 */

$typeahead-suggestion-color: #fff;
$typeahead-suggestion-background-color: #fff;
$typeahead-suggestion-hover-color: #fff;
$typeahead-suggestion-hover-background-color: #0097cf;
$typeahead-suggestion-font-size: 18px;